.gradle/
build/
android-app/.gradle/
android-app/build/
android-app/app/build/
local.properties
*.iml
.idea/
.DS_Store
*.jks
*.keystore
android-app/keystore/
ios-app/**/DerivedData/
ios-app/**/build/
ios-app/**/*.xcuserdata/
ios-app/**/*.xcuserstate
